---
title: JammoChat
description: A text messaging app with vivid AR & AI experience powered by IBM Watson.
image: https://github.com/UoB-IBM-TextMessaging-Team/ar_ai_textmessaging_pages/blob/main/images/asset/backgroundf1.png?raw=true
bottom_image: https://github.com/UoB-IBM-TextMessaging-Team/ar_ai_textmessaging_pages/blob/main/images/asset/backgroundf1.png?raw=true
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Enjoy Chatting with JammoChat</h1>
			<p class="subtext editable">A text messaging app with vivid AR & AI experience powered by IBM Watson.</p>
			<div class="cta button alt"><a href="https://github.com/UoB-IBM-TextMessaging-Team/JammoChat/releases">Try Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">AR & AI Hybrid experience</h2>
				<p class="editable">Chatting might be boring. But JammoChat is the perfect app provding you the fun interesting experience.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://github.com/UoB-IBM-TextMessaging-Team/ar_ai_textmessaging_pages/blob/main/images/asset/galaxy-s10-mockup.png?raw=true" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Powered by IBM Watson</h2>
				<p class="editable">Jammo Chat is a chatting app that you could create your jammo character to represent you in Augmented Reality universe.  In jammo Chat, you can easily connect with your friend, and share your feeling with IBM's latest Natural language understanding and Speech Synthesis technology!</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/asset/point2.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Fast, Responsive, and Privacy</h2>
				<p class="editable">We concern privacy. JammoChat is built with industrial standard evaluation. The backend run on Google Firebase, with high level security and strategy.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/asset/woo.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Try JammoChat Today!</h2>
				<p class="subtext editable">It's free, fun and an exciting way to text messaging people.</p>
				<div class="cta button alt"><a href="https://github.com/UoB-IBM-TextMessaging-Team/JammoChat/">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
